body{
	font-family: tahoma; 
	background-color: #d0d8e4;
}
#blue_bar{
	height: 50px;
	background-color: #405d9b;
	color: #d9dfeb;
}

#profile_pic{
	width: 150px;
	margin-top: -200px;
	border-radius: 50%;
	border: solid 2px white;
}


div nav{
  width: 100%;
  top:50px;
  text-align:center;
  padding-bottom: 15px; 
}
div nav a{
  font-family: 'tahoma';
  color: #405d9b;
  font-weight:500;
  text-transform:uppercase;
  text-decoration:none;;
  margin:0 15px;
  font-size:16px;
  letter-spacing:1px;
  position:relative;
  display:inline-block;
}
div nav a:before{
  content:'';
  position: absolute;
  width: 100%;
  height: 3px;
  background:#16151b;
  top:47%;
  animation:out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
div nav a:hover:before{
  animation:in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;

}
@keyframes in{
  0%{
    width: 0;
    left:0;
    right:auto;
  }
  100%{
    left:0;
    right:auto;
    width: 100%;
  }
}
@keyframes out{
  0%{
    width:100%;
    left: auto;
    right: 0;
  }
  100%{
    width: 0;
    left: auto;
    right: 0;
  }
}
@keyframes show{
  0%{
    opacity:0;
    transform:translateY(-10px);
  }
  100%{
    opacity:1;
    transform:translateY(0);
  }
}

@for $i from 1 through 5 {
  nav a:nth-child(#{$i}){
    animation:show .2s #{$i*0.1+1}s ease 1 both;
  }
}
 
#block{
	background-color: white; 
	width: 800px; 
	margin: auto; 
	margin-top: 5px;
	padding: 10px;
	padding-top: 50px;
	text-align: center;
	font-weight: bold;
}

#resaux{
  background-color: white; 
  width: 200px; 
  height: 500px;
  margin: 5px;
  text-align: center;
  font-weight: bold;
  position: right;
  filter: drop-shadow(0 0 0.2rem #405d9b);
}
#comm{
  background-color: white; 
  width: 700px; 
  height: 500px;
  margin: 5px;
  text-align: center;
  font-weight: bold;
  position: center;
  filter: drop-shadow(0 0 0.2rem #405d9b);
}#rep{
  background-color: white; 
  width: 700px; 
  margin: 5px;
  text-align: center;
  font-weight: bold;
  position: center;
  filter: drop-shadow(0 0 0.2rem #405d9b);
}
#fav{
  background-color: white; 
  width: 500px; 
  height: 500px;
  margin: 5px;
  text-align: center;
  font-weight: bold;
  position: left;
  filter: drop-shadow(0 0 0.2rem #405d9b);
  overflow-y: scroll;
}

#link{

	background-color: #42b72a;
	width: 70px;
	text-align: center;
	padding: 4px;
	border-radius: 4px;
	color: white;
	text-decoration: none;
}
#button{
	width: 75px;
	height: 30px;
	border-radius: 4px;
	font-weight: bold;
	border:none;
	background-color: rgb(59,89,152); 
	color: white;

}

h4{
	font-family: tahoma; 
	color: #405d9b;
	font-size: 30px;
}
#link2{
	color: #405d9b;
	font-size: 18px;
	text-decoration: none;
}
#link2:hover{
	color: #405d9b;
	text-decoration: underline;
}